.message-1 {
    text-align: center;
    font-family: sans-serif;
}

.message-2 {
    margin-top: 80px;
    text-align: center;
    font-family: sans-serif;
}

.base {
    padding-left: 100px;
    padding-right: 100px;
}